@import "tailwindcss";

body,
html,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(135deg, #0f172a 0%, #1e293b 50%, #0f172a 100%);
    background-attachment: fixed;
}